<div class="row">
    <div class="col">
        <div>
            <div class="card-header">
                <span class="text-uppercase">Add a Reason</span>    
            </div>
            <div class="card-body widget-body">
                <div class="row">
                    <div class="col-6 bottom-15">  
                        <h6> Reason </h6>
                        <input [(ngModel)]="reason" id="input-8" class='rounded-input form-control-lg'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 bottom-15">  
                        <button (click)="cancel()" class='custom-button btn-lg'>Cancel</button>
                    </div>
                    <div class="col-6 bottom-15">  
                        <button (click)="submit()" class='custom-button btn-lg'>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>