.mat-dialog-container {
    max-height: 90% !important; /* Adjust the value as needed */
  }
  
  .dialog-content {
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Adjust the value as needed */
  }