<div class="row googlemap mbm-20">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Google Maps</span>
        <div class="widget-controls">                          
            <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>              
        </div>        
      </div>
      <div class="card-body widget-body">
        <google-map [center]="center" [zoom]="zoom">
          <map-marker *ngFor="let markerPosition of markerPositions"
                      [position]="markerPosition"
                      [options]="markerOptions"></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div> 