<ng-template #menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem (click)="activeButtonClick()">Active</button>
    <button class="example-menu-item" cdkMenuItem (click)="actionNeededButtonClick()">Action Needed</button>
    <button class="example-menu-item" cdkMenuItem (click)="onHoldButtonClick()">On Hold</button>
    <button class="example-menu-item" cdkMenuItem (click)="completedButtonClick()">Completed</button>
    <button class="example-menu-item" cdkMenuItem (click)="editButtonClick()">Edit Task</button>
  </div>
</ng-template>
<div class="container" style="height: 100vh; width: 100vw;" (contextmenu)="onContextMenu($event)" *ngIf="showComponent">
  <div class="row">
    <div class="col-md-4 col-12">
      <h6>Project Filter</h6>
      <ng-select [items]="statusFilters" 
                 bindLabel="label" 
                 bindValue="value" 
                 [multiple]="false"
                 (change)="onFilterChangeStatus($event)"
                 searchPlaceholder="Select Status"
                 [(ngModel)]="statusFilter">
      </ng-select>
    </div>
    <div class="col-md-4 col-12">
      <h6>Foreman Filter</h6>
      <ng-select [items]="foremanFilters" 
                 bindLabel="label" 
                 bindValue="value" 
                 [multiple]="false"
                 (change)="onFilterChangeStatus($event)"
                 searchPlaceholder="Select Foreman"
                 [(ngModel)]="foremanFilter">
      </ng-select>
    </div>
    <div class="col-md-4 col-12 d-flex">
      <button (click)="expandAllGroups()" class="align-self-center mr-1">
        {{ expanded ? 'Collapse' : 'Expand' }}
      </button>
      <button (click)="addTask()" class="align-self-center">
        {{ 'Add Task' }}
      </button>
    </div>
  </div>

  <ngx-gantt
    #gantt
    [groups]="groups"
    [items]="items"
    [viewType]="viewType"
    [draggable]="true"
    [async]="true"
    [childrenResolve]="childrenResolve"
    [viewOptions]="viewOptions"
    (contextmenu)="onGanttContextMenu($event)"
    (barClick)="barClick($event)"
    (dragEnded)="dragEnded($event)"
  >
    <!-- Add your Gantt chart configuration here -->
    <ngx-gantt-table [draggable]="true">
      <ngx-gantt-column name="Active Projects" width="180px">
        <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
      </ngx-gantt-column>
      <ngx-gantt-column name="Foremen" width="180px">
        <ng-template #cell let-item="item">
          {{ getManagerName(item.id) }} 
        </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>

    <!-- group template -->
    <ng-template #group let-group="group" let-items="items">
      <span class="text-primary">{{ group.title }}</span>
    </ng-template>
    <ng-template #bar let-item="item">
      <span [cdkMenuTriggerFor]="menu" style="color: #fff">&nbsp;&nbsp;{{ item.title }}</span>
    </ng-template>
  </ngx-gantt>
</div>